.form-group .stack-head-software {
    color: blue !important;
  }
  
  .form-group .stack-head-qa {
    color: red !important;
  }

  main .body .container {
    display: block;
    width: 97%;
    flex-wrap: wrap;
    /* height: 90vh; */
    display: flex;
    gap: 30px;
    /* background-color: red; */
    margin: auto;
    padding-top: 20px;
    padding-bottom: 60px; /* Add some padding to prevent overlap with bottom navbar */
}

main .body .container .box-link   {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 12rem;
    cursor: pointer;
    box-shadow: rgb(240, 232, 232) 5px 0px 0px 0px;
}

main .body .container .two-details h1 {
    color: #0f8792;
}

main .body .container .two-details p {
    color: rgb(129, 112, 112);
    font-weight: 600;
}

main .body .container .two-details .topic {
    padding-top: 10px;
}

main .body .container .two-details .topic {
    padding-top: 10px;
}

main .body .container .two-details p span {
    color: #0f8792;
    font-size: 30px;
}

main .body .container .two-details .date {
    padding-bottom: 30px;
}

main .body .container  .two-details p span {
    color: #0f8792;
    font-size: 30px;
}

main .body .container .two-details .date {
    padding-bottom: 30px;
}
  
  .add-week {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  }
  
  .add-btn {
  background-color: #ffffff;
  border: 1px solid #cdced1;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  }
  
  #tooltipText {
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  opacity: 0;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition: opacity 1s ease;
  visibility: hidden;
  white-space: nowrap;
  }
  
  #tooltipText::before {
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  }
  
  .add-week:hover #tooltipText {
  opacity: 1;
  top: -68%;
  visibility: visible;
  }

.view-actions button {
    padding: 5px 10px;
    background-color: #0f8792;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
  
  .modal {
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  }
  
  .modal-content {
  background-color: #ffffff;
  border-radius: 8px;
  color: #64748b;
  height: fit-content;
  width: 440px;
  padding: 22px 24px;
  position: relative;
  }
  
  .close-btn {
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  cursor: pointer;
  font-size: 20px;
  height: 26px;
  width: 26px;
  position: absolute;
  right: 24px;
  top: 20px;
  }
  
  .close-btn:hover {
  background-color: #ff0000;
  color: #e2e8f0;
  }
  
  
  .modal-title {
  color: #000000;
  }
  
  .form-group, .form-btn {
  margin-top: 18px;
  }
  
  label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  }
  
  select:focus {
  outline: 2.5px solid #000000;
  }
  
  input[type="text"],
  input[type="number"],
  select {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
  }
  
  input[type="text"],
  input[type="number"] {
  width: calc(100% - 16px);
  }
  
  select {
  width: 100%;
  }
  
  .form-btn {
  background-color: #0f8792;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  }
  
  .form-btn:hover {
  background-color: #0b7a84;
  }
  
  /* .red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.black {
    border: 1px solid black;
}

.blue {
    border: 1px solid blue;
}

.yellow {
    border: 1px solid yellow;
} */